In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException

In [14]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

In [15]:
driver = webdriver.Chrome()

Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Name = []
Artist = []
Upload_date = []
Views = []

In [6]:
for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text)

In [7]:
for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)

In [8]:
for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Views.append(i.text)

In [9]:
for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Upload_date.append(i.text)

In [10]:
Youtube=pd.DataFrame({})
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views'] = Views

In [11]:
Youtube

,Name,Artist,Uploaded Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.statisticstimes.com/")

In [6]:
economy = driver.find_element(By.XPATH,"//div[@class='navbar']//div[2]//button").click()

urls = driver.find_element(By.XPATH,"//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
driver.get(ineco_page)

In [7]:
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [8]:
sta_GDP = driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)

In [9]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

In [10]:
len(Rank)

33

In [11]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

In [12]:
len(State)

33

In [13]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

In [14]:
len(GSDP_1)

33

In [15]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

In [16]:
len(GSDP_2)

33

In [17]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

In [18]:
len(Share)

33

In [19]:
for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [20]:
len(GDP)

33

In [21]:
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['GSDP at current price (19-20)'] = GSDP_1
StatisticsTime['GSDP at current price (18-19)'] = GSDP_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = GDP

In [22]:
StatisticsTime

,Rank,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,-,"2,632,792",13.94%,399.921
1,2,"1,845,853","1,630,208",8.63%,247.629
2,3,"1,687,818","1,584,764",8.39%,240.726
3,4,-,"1,502,899",7.96%,228.290
4,5,"1,631,977","1,493,127",7.91%,226.806
5,6,"1,253,832","1,089,898",5.77%,165.556
6,7,"1,020,989","942,586",4.99%,143.179
7,8,"972,782","862,957",4.57%,131.083
8,9,"969,604","861,031",4.56%,130.791
9,10,"906,672","809,592",4.29%,122.977
10,11,-,"781,653",4.14%,118.733
11,12,"856,112","774,870",4.10%,117.703
12,13,"831,610","734,163",3.89%,111.519
13,14,"611,804","530,363",2.81%,80.562
14,15,"574,760","526,376",2.79%,79.957
15,16,"521,275","487,805",2.58%,74.098
16,17,-,"315,881",1.67%,47.982
17,18,"329,180","304,063",1.61%,46.187
18,19,"328,598","297,204",1.57%,45.145
19,20,-,"245,895",1.30%,37.351
20,21,-,"155,956",0.83%,23.690
21,22,"165,472","153,845",0.81%,23.369
22,23,"80,449","73,170",0.39%,11.115
23,24,"55,984","49,845",0.26%,7.571
24,25,-,"42,114",0.22%,6.397
25,26,"38,253","34,433",0.18%,5.230
26,27,"36,572","33,481",0.18%,5.086
27,28,"32,496","28,723",0.15%,4.363
28,29,"31,790","27,870",0.15%,4.233
29,30,-,"27,283",0.14%,4.144
30,31,-,"24,603",0.13%,3.737
31,32,"26,503","22,287",0.12%,3.385
32,33,-,-,-,-

In [23]:
df=pd.DataFrame({'state':State})

In [24]:
df1=df.iloc[0:30]

In [25]:
frames=(df1,StatisticsTime)

In [26]:
df2=pd.concat(frames,join='inner',axis=1)

In [27]:
df2

,state,Rank,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,Maharashtra,1,-,"2,632,792",13.94%,399.921
1,Tamil Nadu,2,"1,845,853","1,630,208",8.63%,247.629
2,Uttar Pradesh,3,"1,687,818","1,584,764",8.39%,240.726
3,Gujarat,4,-,"1,502,899",7.96%,228.290
4,Karnataka,5,"1,631,977","1,493,127",7.91%,226.806
5,West Bengal,6,"1,253,832","1,089,898",5.77%,165.556
6,Rajasthan,7,"1,020,989","942,586",4.99%,143.179
7,Andhra Pradesh,8,"972,782","862,957",4.57%,131.083
8,Telangana,9,"969,604","861,031",4.56%,130.791
9,Madhya Pradesh,10,"906,672","809,592",4.29%,122.977
10,Kerala,11,-,"781,653",4.14%,118.733
11,Delhi,12,"856,112","774,870",4.10%,117.703
12,Haryana,13,"831,610","734,163",3.89%,111.519
13,Bihar,14,"611,804","530,363",2.81%,80.562
14,Punjab,15,"574,760","526,376",2.79%,79.957
15,Odisha,16,"521,275","487,805",2.58%,74.098
16,Assam,17,-,"315,881",1.67%,47.982
17,Chhattisgarh,18,"329,180","304,063",1.61%,46.187
18,Jharkhand,19,"328,598","297,204",1.57%,45.145
19,Uttarakhand,20,-,"245,895",1.30%,37.351
20,Jammu & Kashmir,21,-,"155,956",0.83%,23.690
21,Himachal Pradesh,22,"165,472","153,845",0.81%,23.369
22,Goa,23,"80,449","73,170",0.39%,11.115
23,Tripura,24,"55,984","49,845",0.26%,7.571
24,Chandigarh,25,-,"42,114",0.22%,6.397
25,Puducherry,26,"38,253","34,433",0.18%,5.230
26,Meghalaya,27,"36,572","33,481",0.18%,5.086
27,Sikkim,28,"32,496","28,723",0.15%,4.363
28,Manipur,29,"31,790","27,870",0.15%,4.233
29,Nagaland,30,-,"27,283",0.14%,4.144

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [8]:
driver = webdriver.Chrome()

In [9]:
driver.get('https://www.billboard.com/')

In [10]:
#menu
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()

In [11]:
driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [12]:
driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [13]:
Details=[]
details=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in details:
    details=i.text
    Details.append(details)

In [14]:
Song_name=[item.split('\n',5)[0]for item in Details]
Artist_name=[item.split('\n',5)[1]for item in Details]
Last_week_rank=[item.split('\n',5)[2]for item in Details]
Peak_rank=[item.split('\n',5)[3]for item in Details]
weeks_onboard=[item.split('\n',5)[4]for item in Details]

In [15]:
df=pd.DataFrame({'Song name':Song_name,'Artist name':Artist_name,'Last week rank':Last_week_rank,'Peak rank':Peak_rank,'Weeks onboard':weeks_onboard})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks onboard
0,First Person Shooter,Drake Featuring J. Cole,-,1,1
1,IDGAF,Drake Featuring Yeat,-,2,1
2,Virginia Beach,Drake,-,3,1
3,Paint The Town Red,Doja Cat,1,1,10
4,Calling For You,Drake Featuring 21 Savage,-,5,1
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,2
96,Y Lloro,Junior H,-,97,1
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
98,Seven,Jung Kook Featuring Latto,57,1,13
99,Stars Like Confetti,Dustin Lynch,89,89,2

Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [44]:
driver = webdriver.Chrome()

In [45]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [46]:
Details=[]
details=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in details:
    details=i.text
    Details.append(details)

In [47]:
Book_name=Details[1::5]
Author_name=Details[2::5]
Volumes_sold=Details[3::5]
Publisher=Details[4::5]

In [48]:
Genre=[]
genre=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [49]:
df=pd.DataFrame({'Book name':Book_name,'Author name':Author_name,'Volumes sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [33]:
driver = webdriver.Chrome()

In [34]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [35]:
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

In [36]:
# Let's create a function
name = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
year = driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)
gen = driver.find_elements(By.XPATH, '//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)
runtime = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)
ratings = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]/span[2]')
for i in ratings:
    Ratings.append(i.text)
vote = driver.find_elements(By.XPATH, '//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [37]:
# Let's create the dataframe from the scraped data
IMDB=pd.DataFrame({})
IMDB['Name']=Name
IMDB['Year Span']= Year_Span
IMDB['Genre']=Genre
IMDB['Run Time']= Run_Time
IMDB['Ratings']=Ratings
IMDB['Votes']=Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,214,030"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,683"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,668"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,684"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,627"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,035"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,971"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,122"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,551"